[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "httpbin"

[packages]
gunicorn = "*"
decorator = "*"
brotlipy = "*"
gevent = "*"
Flask = "*"
meinheld = "*"
werkzeug = ">=2.3.7"
six = "*"
flasgger = "*"
pyyaml = ">=6.0.0"

[dev-packages]
rope = "*"
