[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "httpbin"

[packages]
setuptools = ">=70.0.0"
gunicorn = ">=22.0.0"
decorator = "*"
brotlipy = "*"
gevent = "*"
Flask = "*"
werkzeug = ">=3.0.3"
six = "*"
flasgger = "*"
pyyaml = ">=6.0.0"
typing-extensions = "*"

[dev-packages]
rope = "*"
